// different screen/devices
$Phone-width:  500px;
$tablet-width:  768px;
$desktop-width:  1024px;


// font family
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

//global css
* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }


  html,
  body {
  padding: 0;
  margin: 0;
  font-family: "Livvic",  sans-serif;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code{
    font-family: "Rajdhani", sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
ul{
  text-decoration: none;
}

/*
===============
Variables
===============
*/
:root{
  --primary-clr-1: #0077B6;
  --primary-clr-2: #023E8A;
  --primary-clr-3: #48CAE4;
  --natural-clr-1: #E7FBFF;
  --natural-clr-2: #80858F;
  --natural-clr-3: #0C0C0C;
  --natural-clr-4: #043676;
  --natural-clr-5: #1E1717;
  --natural-clr-6: #FBF4F4;
  --natural-clr-7: #FFFFFF;
  --natural-clr-8: #dddddd;
  --btn-clr:linear-gradient(270deg, #030b63, #0179af);
  --bg-hover-clr-1: rgba(0, 119, 182, 0.95);
  --bg-hover-clr-2: rgba(3, 43, 69, 0.92);
  --transition-bg:300ms ease-in-out;
  --line-height:1.08;
}

  // small screen
  // @media screen and (max-width:#{$phone-width}) {
    
  // }
  // @media screen and (max-width:#{$tablet-width}) {
    
  // }